<%=render :partial=> "nav"%>
<%=@user.username%>
<%=@user.email%>
<%=link_to("Edit", edit_user_registration_path(@user)) %>
  <%if @user.avatar.present?%>
  <%=image_tag(@user.avatar.url , :class => 'img-circle') %>
  <%end%>
 <%= render(:partial=>'check_follow')%>
  <%#= render(:partial=>'check_friends')%>
  <%if @user.inverse_friends.include?(current_user) ||  current_user.friends.include?(@user)%>
        <%else%>
     <%= link_to "Add Friend", friendships_path(:friend_id => @user), :method => :post %>
       <%end%>
<h1>TEST</h1>
    <%@user.friends.each do |f|%>
    <%=f.username%>
    <%end%>
    <%@user.otherfriendships.each do |f|%>
    <%=f.username%>
    <%end%>

<%@user.posts.each do |f| %>
<%=f.description%>
<%end%>
<h2>Friends</h2>
<ul>

<p>Username: <%=h @user.username %></p>


<h2>Friends</h2>
<ul>
  <% for friendship in @user.friendships %>
    <li>
      <%=h friendship.friend.username %>
      (<%= link_to "remove", friendship, :method => :delete %>)
    </li>
  <% end %>
  <% for user in @user.inverse_friends %>
    <li><%=h user.username %></li>
  <% end %>
</ul>
