<%=current_user.username%>
<%=link_to("Create Post",new_post_path)%>
 <%= link_to "log out", destroy_user_session_path, :method => :delete %>
<h2>Posts:</h2>
<%current_user.posts.each do|f|%>
<td><%= link_to("Show Post", :action=>"show", :id=>f.id) %></td>
<td><%= link_to("Create comment",new_post_comment_path(f), :post_id=>f.id) %></td>
<%=f.description%>
<%end%>
